.hot_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #FFFFFF;
  }

  .title {
    font-size: 100px;
  }

  .head_image {
    width: 750px;
    height: 250px;
  }

  .head_text {
    display: flex;
    height: 320px;
    flex-direction: column;
    align-items: flex-start;
  }

  .single_regin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .common_middle {
    width: 684px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .foot {
    width: 750px;
    height: 80px;
    align-items: center;
    justify-content: center;
  }

  .head_content {
    width: 100%;
    margin-top: 33.3px;
  }

  .head_font {
    font-weight: bold;
    color: #1A1A1A;
    font-size: 37.5px;
  }

  .middle_content {
    width: 100%;
    margin-top: 12.8px;
  }

  .middle_content_text {
    line-height: 46px;
    font-size: 27px;
  }

  .common_font {
    color: #8c8c8c;
    font-size: 28px;
    font-weight: bold;
  }

  .head_text_lable {
    width: 100%;
    margin-top: 16.9px;
  }

  .foot_lable {
    display: flex;
    background-color: #f3f3f3;
    color: #1a1a1a;
    text-align: center;
    margin-right: 16px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    line-height: 50px;
  }

  .single_regin_title {
    width: 100%;
    margin-top: 46px;
    margin-bottom: 16px;
  }

  .single_item_1 {
    width: 684px;
    height: 198px;
  }

  .foot_div {
    display: flex;
    width: 240px;
    height: 80px;
    justify-content: space-around;
  }

  .foot_img {
    width: 30px;
    height: 30px;
  }

  .auto_time {
    display: flex;
    width: 69px;
    height: 33px;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    background-color: #000000;
    opacity: 0.3;
    border-radius: 4px;
  }

  .auto_time_text {
    width: 69px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 35px;
  }

  .stack {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }