.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100px;
}

.title {
    font-size: 100px;
}

.div_search {
    display: flex;
    background-color: #f2f2f2;
    width: 684px;
    height: 66px;
    margin-left: 33px;
    margin-right: 33px;
    border-radius: 8px;
    align-items: center;
}

.image_search {
    width: 33px;
    height: 33px;
    margin: 16.7px;
}

.place_holder {
    width: 500px;
    height: 25px;
    font-size: 27px;
    color: #BCBCBC;
}